.heading{
	font-size: 20px;
}
.paragraph{
	font-size: 15px;
}
.tour-class{
	padding: none
}
.container .carousel {
	padding-bottom: 30px;
}
.container .text{
	padding-top: 30px;
	padding-bottom: 30px;
}
.container .text1{
	padding-top: 40px;
	padding-bottom: 30px;
}

.card-title{
	padding-top: 90px;
}
.container .text2{
	padding-top: 40px;
	padding-bottom: 30px;
}

.bg-light {
    background-color: #cccccc !important;
}
.nav-item .No{
	border: outset;
}